    /* ABOUT.HTML */
    html, body{
        margin: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
    }

    /* ABOUT.HTML */
    .about-background {
        /* background-color: rgb(220, 150, 150); */
        width: 100vw;    
        overflow: hidden;
        z-index: -1;
    }



    #about {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(100, 20, 20);
        position: absolute;
        left: 30%;
        right: 25%;
        top: clamp(2%, 10%, 30%);
        z-index: 99;
    }
        #about h1 {
            text-align: center;
            font-size: clamp(18px, 7vw, 54px);
            text-decoration: underline;
        }

        #about p {
            text-align: center;
            font-size: clamp(12px, 2vw, 24px);
        }
