@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Monserrat", sans-serif !important;
}

html, body{
  /* background-color: #211d1f !important; */
  background-image: url('[BannerBBG]');
  margin: 0;
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center center;
}

html {
  overflow: hidden;
}

/* Background */
.about-background {
  position: absolute;
  width: 100vw;    
  overflow: hidden;
  animation: fade-in-down 1s forwards;
  background-repeat: repeat-y;
  z-index: 0 !important;
}

.main-container {
  position: absolute;
  left: 30%;
  right: 20%;
  width: 50vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4px;
  animation: fade-in-down 1s forwards;
}

/* Informational Text */
h2 {
  color: #fff !important;
  font-weight: 500 !important;
  text-align: left;
  font-size: 30px !important;
  padding-bottom: 3vh;
}
h5 {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 22px !important;
}
p {
  color: #fff;
  font-weight: 100 !important;
  margin-bottom: 2em !important;
  font-size: 16px !important;
}

/* Navigation bar on the right */
.nav-container-right {
  position: absolute;
  height: 100vh;
  top:1%;
  right: 0;
  z-index: 100;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
  
.kc-btn, .kc-btn-active {
  text-decoration: none;
  /* color: rgb(180, 70, 70); */
  color: #fff;
  font-weight: 500;
  font-size: 22px !important;
  text-align: center;
  
  border-right: 10px solid rgb(150, 50, 50);
  padding: 18px 10px;
  width: clamp(100px, 15vw, 200px);

  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  animation: fade-in-right 1s forwards;;
}

.kc-btn-active {
  font-weight: 700;
  cursor: default;
}

.kc-btn:hover {
  color: #fff;
}

.kc-btn::before{
  content: "";
  position:absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(110, 30, 30);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 0;
}

.kc-btn::before {
  transform: scaleX(0);
}

.kc-btn:hover::before {
  transform: scaleX(1);
}

.kc-btn {
  animation: fade-in-right 1s forward;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Drop Down Menu */
.mobile-menu {
  width: 100vw;
  display: none !important;
  text-transform: uppercase;
  background: rgb(138,24,26);
}

.navbar-toggler {
  margin-right: 16px;
}

.navbar-nav {
  margin-top: 12px;
  padding-top: 4px;
  border-radius: 1em;
  background-color: rgb(160, 60, 60);
}

.nav-link:hover {
  color: #fff !important;
  background-color: rgb(160, 50, 50);
  text-align: center;
}

.navbar-brand {
  margin-left: 16px;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
  text-align: center;
}

.nav-top {
  margin-top: -4px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.nav-bottom {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.active {
  background-color: rgb(160, 50, 50);
  cursor: default !important;
  font-weight: 700 !important;
}

/* Responsive Design (Smaller Screen) */
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 26px !important;
  }
  h5 {
    font-size: 18px !important;
  }
  p {
    margin-bottom: 2em !important;
    font-size: 14px !important;
  }
}

/* Responsive Design (Mobile) */
@media only screen and (max-width: 900px) {
  html{
    overflow-y: auto;
  }

  .mobile-menu {
    display: block !important;
  }

  .nav-container-right,
  .kc-btn-active, .kc-btn,
  .koi-text, .corner-text{
    display: none;
  }

  .main-container {
    position: relative;
    left: 30%;
    top: 4em;
    margin: 0;
    width: 60vw;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-container h2 {
    font-size: 28px !important;
  }
  
  .main-container h5 {
    font-size: 20px !important;
  }
  
  .main-container p {
    font-size: 16px !important;
  }
}