html, body {
  background-color: #211d1f !important;
  overflow: hidden;
  margin: 0;
}

/* BACKGROUND */
.main-container {
    position: relative;
    height: 100vh;
    display: flex;
  }
  
.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  animation: fade-in-down 1s forwards;
}

/* Drop Down Menu */
.mobile-menu {
  display: none !important;
  text-transform: uppercase;
  background: rgb(138,24,26);

}

.navbar-brand,
.nav-link {
  color: #fff !important;
  text-align: center;
}

.active {
  cursor: default !important;
  text-decoration: underline !important;
}

/* Containers */
.nav-container-left {
  position: relative;
  z-index: 1;
  width: 20%;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-middle {
  position: relative;
  z-index: 1;
  width: 40%;
  left: 0;
  /* /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  animation: fade-in-down 1s forwards;
}

.container-right {
  position: relative;
  z-index: 1;
  width: 40%;
  left: 0;
  /* /* box-sizing: border-box; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.nav-container-top {
  display: none;
}

/* Nav Links [on left side] */
.kc-btn,
.kc-btn-active{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(160, 50, 50);
  letter-spacing: 4px;
  font-weight: 200;
  font-size: clamp(18px, 2vw, 48px);
  text-align: center;

  border-left: 10px solid rgb(138,24,26);
  padding: 18px 10px;
  min-width: 160px;
  margin-left: 0px;

  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  animation: fade-in-left 1s forwards;
}

.kc-btn-active {
  font-size: clamp(18px, 2.1vw, 48px);
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: default;
}

.kc-btn:hover {
    color: #fff;
}

.kc-btn::before{
    content: "";
    position:absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(160, 50, 50);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function:cubic-bezier(0.5,0.8,0.8,0.5);
}

.kc-btn::before {
    transform: scaleX(0);
}

.kc-btn:hover::before {
    transform: scaleX(1);
}

.kc-btn {
  animation: fade-in-left 1s forward;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design (Ipad Screen) */
@media only screen and (max-width: 1200px) {
}

/* Responsive Design (Mini Ipad Screen) */
@media only screen and (max-width: 950px) {

}

/* Responsive Design (Mobile) */
@media only screen and (max-width: 750px) {
  .mobile-menu {
    display: block !important;
  }

  .nav-container-left,
  .kc-btn-active, .kc-btn,
  .koi-text, .corner-text{
    display: none;
  }

  .main-container {
    flex-direction: column-reverse;
  }

  .container-middle {
    width: 100%;
  }
}