@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Monserrat", sans-serif;
}

html, body {
  background-color: #211d1f !important;
  overflow: hidden;
  margin: 0;
}

/* BACKGROUND */
.main-container {
    position: relative;
    height: 100vh;
    display: flex;
  }

/* General Texts */
h2, h5, p {
  color: #fff !important;
}

h2 {
  text-align: center;
  font-weight: 600 !important;
  margin-bottom: 1em !important;
  font-size: clamp(14px, 3vw, 28px);
}

h5 {
  font-weight: 600 !important;
  font-size: clamp(12px, 2vw, 24px);
}

p {
  font-weight: 100 !important;
  margin-bottom: 2em !important;
  font-size: clamp(10px, 1vw, 16px);
}

/* Drop Down Menu */
.mobile-menu {
  display: none !important;
  text-transform: uppercase;
  background: rgb(138,24,26);
}

.container-image {
  width: 70%;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
  text-align: center;
}

.active {
  cursor: default !important;
  text-decoration: underline !important;
}

/* Containers */
.container-split {
  position: relative;
  z-index: 1;
  width: 40%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: fade-in-down 1s forwards;
}

.nav-container-right {
  position: absolute;
  height: 100vh;
  top:1%;
  right: 0;
  z-index: 100;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.description {
  width: 1200px;
}

/* Nav Links [on left side] */
.kc-btn, .kc-btn-active {
  text-decoration: none;
  color: rgb(180, 70, 70);
  font-weight: 500;
  font-size: clamp(12px, 2vw, 24px);
  text-align: center;
  
  border-right: 10px solid rgb(150, 50, 50);
  padding: 18px 10px;
  width: clamp(100px, 15vw, 200px);

  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  animation: fade-in-right 1s forwards;;
}

.kc-btn-active {
  font-weight: 700;
  cursor: default;
}

.kc-btn:hover {
  color: #fff;
}

.kc-btn::before{
  content: "";
  position:absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(110, 30, 30);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 0;
}

.kc-btn::before {
  transform: scaleX(0);
}

.kc-btn:hover::before {
  transform: scaleX(1);
}

.kc-btn {
  animation: fade-in-right 1s forward;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design (Ipad Screen) */
@media only screen and (max-width: 1200px) {
}

/* Responsive Design (Mini Ipad Screen) */
@media only screen and (max-width: 950px) {

}

/* Responsive Design (Mobile) */
@media (max-width: 700px) {
  html, body {
    overflow: auto;
  }

  .mobile-menu {
    display: block !important;
  }

  .nav-container-left,
  .kc-btn-active, .kc-btn,
  .koi-text, .corner-text{
    display: none;
  }

  .main-container {
    flex-direction: column-reverse;
  }

  .container-middle {
    width: 100%;
  }

  .container-split {
    width: 100%;
  }

  .container-image {
    width: 80vw;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}