html, body {
  overflow: hidden;
  margin: 0;
}

/* BACKGROUND */
.main-container {
    position: relative;
    height: 100vh;
    display: flex;
  }
  
.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

/* Drop Down Menu */
.mobile-menu {
  display: none !important;
  text-transform: uppercase;
  background: rgb(138,24,26);

}

.navbar-brand,
.nav-link {
  color: #fff !important;
  text-align: center;
}

.active {
  cursor: default !important;
  text-decoration: underline !important;
}

/* TEXTS AROUND LOGO */
.koi-text {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translateY(-50%);

  font-size: clamp(80px, 6vw, 240px);
  font-weight: 500;
  color: rgb(138,24,26);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
.corner-text {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  right: 16%;
  transform: translateY(-50%);

  font-size: clamp(80px, 6vw, 240px);
  font-weight: 500;
  color: rgb(138,24,26);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* NAV CONTAINER [Left and Right]*/
.nav-container-left {
  position: relative;
  z-index: 1;
  width: 20%;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-container-right {
  position: relative;
  z-index: 1;
  margin-right: 0;
  width: 80%; /* Change this to take up the complete right side */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end; /* Align the buttons to the right side */
}

/* Button 1 [on left side] */
.kc-btn,
.kc-btn-active{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(138,24,26);
  letter-spacing: 4px;
  font-weight: 200;
  font-size: clamp(18px, 2vw, 48px);
  text-align: center;

  /* background: rgb(90, 15, 15);
  border: 2px solid #211d1f; */
  border-left: 10px solid rgb(90, 15, 15);

  padding: 18px 10px;
  min-width: 160px;
  margin-left: 0px;

  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.kc-btn-active {
  font-size: clamp(18px, 2.1vw, 48px);
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: default;
}

.kc-btn:hover {
    color: #fff;
}

.kc-btn::before{
    content: "";
    position:absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(138,24,26);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function:cubic-bezier(0.5,0.8,0.8,0.5);
}

.kc-btn::before {
    transform: scaleX(0);
}

.kc-btn:hover::before {
    transform: scaleX(1);
}


/* Responsive Design (Ipad Screen) */
@media only screen and (max-width: 1200px) {
  .koi-text {
    transform: translateX(250%);
    top: 30%;
    
  }
  .corner-text {
    transform: translateX(40%);
  }
}

/* Responsive Design (Mini Ipad Screen) */
@media only screen and (max-width: 950px) {
  .koi-text,
  .corner-text {
    display: none;
  }
}

/* Responsive Design (Mobile) */
@media only screen and (max-width: 750px) {

  .mobile-menu {
    display: block !important;
  }

  .background-image {
    transform: translateY(-18%);
    height: 150vh;
    overflow: hidden;
  }

  .nav-container-left,
  .kc-btn-active, .kc-btn,
  .koi-text, .corner-text{
    display: none;
  }
}

/* Button 2 [on right side] */
/* .nav-container-right {
  position: relative;
  z-index: 1;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.btn2 {
  text-align: right;
  background: none;
  border: 2px solid #fff;
  border-right: 10px solid rgb(138,24,26);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 18px 10px;
  min-width: 260px;
  margin-right: 0px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  opacity: 0;
  animation: fade-in-right 1s forwards;
  animation-delay: calc(0.2s * var(--index));
}

.btn2::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(138,24,26);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 0;
  transition-timing-function: cubic-bezier(0.5,0.8,0.8,0.5);
}

.btn2::before {
  transform: scaleX(0);
}

.btn2:hover::before {
  transform: scaleX(1);
}

.btn2 {
  animation: fade-in-right 1s forward;
}


@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */