html, body {
  height: 100%;
  margin: 0;
}

.rectangle {
  position: relative;
  width: 10%;
  height: 200%;
  left: 15%;
  top: 0;
  background-color: rgb(100, 20, 20);
}
  
.rectangle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.product {
  position: absolute;
  top: 0;
  left: 5%;
  width: 10%;
  height: auto;
}
  